<div class="container">
  <h2>Tracked Artists</h2>
  <mat-list class="artist-list">
    @for (release of releases; track release.id ) {
    <mat-list-item (click)="openTrackChooser(release.id, release.cover)" class="artist-item">
      <img matListItemAvatar [src]="release.cover" alt="Album Cover">
      <div matLine class="title-line">{{ release.title }}</div>
      <div matLine class="artist-line">{{ release.artist.name }} | {{release.release_date}}</div>
    </mat-list-item>
    }
  </mat-list>
  <div class="button-container">
    <button mat-raised-button (click)="exportTrackedArtists()">Export</button>
    <button mat-raised-button (click)="importTrackedArtists()">Import</button>
  </div>
</div>
