<mat-toolbar color="primary">
  @if (showSidebarNav) {
  <button mat-icon-button aria-label="Menu icon" (click)="toggleSidenav()" >
    <mat-icon>menu</mat-icon>
  </button>
}
  <span>{{title}}</span>
  <span class="spacer"></span>
  <button mat-icon-button (click)="toggleNavigationPreference()" aria-label="Toggle Navigation Style">
    @if (showSidebarNav) {
    <mat-icon>mobile_off</mat-icon>
    } @else {
    <mat-icon>mobile_friendly</mat-icon>
    }
  </button>
</mat-toolbar>
<mat-sidenav-container autosize>
  @if (showSidebarNav) {
  <mat-sidenav  mode='side' opened [ngClass]="{'expanded': !isExpanded}">
    <mat-nav-list>
      <nav>
        <a mat-list-item
            [routerLink]="['/']" [class.active]="isActiveRoute('/')">
            <mat-icon>search</mat-icon>
            <span class="nav-text"> Search</span>
        </a>
        <a mat-list-item
            [routerLink]="['/releases']" [class.active]="isActiveRoute('/releases')">
            <mat-icon>album</mat-icon>
            <span class="nav-text"> Releases</span>
        </a>
        <a mat-list-item
            [routerLink]="['/about']" [class.active]="isActiveRoute('/about')">
            <mat-icon>info</mat-icon>
            <span class="nav-text"> About</span>
         </a>
      </nav>
    </mat-nav-list>
  </mat-sidenav>
  }
  <mat-sidenav-content [ngClass]="{'content-shifted': showSidebarNav && isExpanded}">
    <div class="app-container">
    <router-outlet />
</div>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>



@if (showBottomNav) {
  <app-bottom-nav />
}
