<!--<mat-sidenav-container>
      <mat-sidenav mode="side" opened>
        <mat-nav-list>
          <a mat-list-item routerLink="/">
            <mat-icon>home</mat-icon>
            <span>Home</span>
          </a>
          <a mat-list-item routerLink="/about">
            <mat-icon>info</mat-icon>
            <span>About</span>
          </a>
          <a mat-list-item routerLink="/contact">
            <mat-icon>email</mat-icon>
            <span>Contact</span>
          </a>
        </mat-nav-list>
      </mat-sidenav>
      <mat-sidenav-content>
         Your main content goes here
      </mat-sidenav-content>
    </mat-sidenav-container>
    -->
<div> Side Works! </div>
<nav>
  <a [routerLink]="['/']" [class.active]="isActiveRoute('/')">
    <mat-icon>search</mat-icon>
    Search
  </a>
  <a [routerLink]="['/releases']" [class.active]="isActiveRoute('/releases')">
    <mat-icon>album</mat-icon>
    Releases
  </a>
  <a  [routerLink]="['/about']" [class.active]="isActiveRoute('/about')">
    <mat-icon>info</mat-icon>
    About
  </a>
</nav>
